<template>
  <div class="home text-center">
    <img alt="Vue logo" src="../assets/logo.png">
    <h1 class="text-muted">
      {{ appName }}
      <br>versión {{ appVersion }}
    </h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';

@Component({})
export default class Home extends Vue {
  @State('appName') appName!: string;
  @State('appVersion') appVersion!: string;
}
</script>
